DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=outer
DB_PASSWORD=replace-with-test-db-password
DB_DATABASE=outer
DB_TABLE_PREFIX=fb_
IM_CHAT_TABLE=fb_chat

IM_HOST=0.0.0.0
IM_PORT=8767
IM_AUTH_SECRET=replace-with-same-long-random-im-secret
IM_MAX_TEXT_MESSAGE_LENGTH=2000
IM_MAX_IMAGE_MESSAGE_LENGTH=2048
