DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=outer
DB_PASSWORD=change-me
DB_DATABASE=outer

IM_HOST=0.0.0.0
IM_PORT=8767
IM_AUTH_SECRET=change-me
IM_MAX_TEXT_MESSAGE_LENGTH=2000
IM_MAX_IMAGE_MESSAGE_LENGTH=2048
DB_TABLE_PREFIX=fb_
IM_CHAT_TABLE=fb_chat
